@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --Primary-Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Primary-Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Primary-Soft-violet-accent: hsl(277, 64%, 61%);
  --Neutral-White-main-heading--stats: hsl(0, 0%, 100%);
  --Neutral-Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Neutral-Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  body {
    margin: 30px;
    background-color: var(--Primary-Very-dark-blue-main-background);
    color: #fff;

  }
}

@layer layout {
  .wrapper {
    max-width: 1100px;
    margin-inline: auto;
  }

  .card {
    background-color: var(--Primary-Dark-desaturated-blue-card-background);
    border-radius: .8rem;
  }

  .two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (width < 375px) {
      display: flex;
      flex-direction: column;
    }
}

  .left-part {
    padding: 4rem 5rem 4rem 4rem;
    @media (width < 375px) {
      width: 17rem;
      padding: 0px;
      margin-inline: auto;
      order: 1;
    }
  }

  span {
    color: var(--Primary-Soft-violet-accent);
  }

  .card-heading {
    font-weight: 700;
    color: var(--Neutral-White-main-heading--stats);
    font-size: 2.7rem;

    @media (width < 375px) {
      font-size: 1.7rem;
      text-align: center;

    }
  }

  .card-para{
    margin-top: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--Neutral-Slightly-transparent-white-main-paragraph);
    padding-right: 4rem;

    @media (width < 375px) {
      padding: 0px;
      text-align: center;
    }
  }

  .companies-detail{
    margin-top: 5.3rem;
    display: flex;
    gap: 3.3rem;
    padding-right: 4rem;

    @media (width < 375px) {
      flex-direction: column;
      padding: 0px;
      margin: 2.5rem 0px 2rem 0px;
      text-align: center;
      gap: 1.8rem;
    }
  }

  .box{
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }

  .box:nth-child(3){
    text-transform: uppercase;
  }

  .companies-heading{
    color: var(--Neutral-White-main-heading--stats);
    font-family: "Inter",sans-serif;
    font-weight: 700;
    font-size: 2rem;

    @media (width < 375px) {
      font-size: 1.7rem;
    }
  }

  .companies{
    font-family: "Lexend Deca",sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--Neutral-Slightly-transparent-white-stat-headings);
    letter-spacing: .1rem;

    @media (width < 375px) {
      font-size: .6rem;
    }
  }

  .image-container {
    position: relative;
    display: inline-block; 
    border-radius: 0rem 0.8rem 0.8rem 0rem;
    overflow: hidden;

    @media (width < 375px) {
      border-radius: 0.8rem 0.8rem 0rem 0rem;
    }
  }


  .original-image {
    background-image: url('./images/image-header-desktop.jpg');
    background-size: 37.3rem 35rem;
    background-repeat: no-repeat;
    width: 40rem;
    height: 30.9rem;
    

    @media (width < 375px) {
      background-image: url('./images/image-header-mobile.jpg');
      background-size: 20rem 14rem;
      background-repeat: no-repeat;
      width: 22rem;
      height: 16rem;
    }
    }

  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Primary-Soft-violet-accent);
    opacity: 0.9;
    mix-blend-mode: color;

    @media (width < 375px) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 99.9%;
      height: 87.5%;
      background-color: var(--Primary-Soft-violet-accent);
      opacity: 0.9;
      mix-blend-mode: color;
    }
  }
}

@layer utilities {

}
